body{
    background-color: rgb(1, 2, 15);
    color: white;
}
.logo{
    width: 120px;
    height: 60px;
    padding: 20px;  
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 25px;
}

.signup{
    width:100px;
    border-radius: 5px;
    background-color: rgb(68, 68, 227);
    color:white;
    font-weight: 600;
}

.header1, .header2, .container, .section1, .section1container1, .items, .container2, .section2, .section3{
    display: flex;
}

.items, .section1, .header2{
    flex-direction: column; 
}

.section3, .section2, .container{
    justify-content: center;
}

.container2, .container3{
    flex-direction: column;
}

.section1, .items, .container, .header1
{
    align-items: center;
}

.header1{
    background-color:#00549a;
    justify-content: space-between;
}
.header2{
    width: 400px;
    padding: 10px;
}

.fiveG{
    width: 500px;
    height: 250px;
    margin: 30px 0;
}

.section1Images{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.section1container1{
    gap: 40px;
}

.items{ 
    flex-wrap: wrap;
    flex-basis: 90px;
    text-align: center;
}
.section1{
    margin-top: 50px;  
}

.section2{
    margin-top: 60px;
    background-color: rgb(64, 60, 54);
}

.container2{

    width:500px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container3{
    margin: 40px;
    padding: 40px;
    background-color: rgb(47, 87, 155);
}

.paragraph, .container2{
    font-size: 20px;
}

h1{
    font-size: 50px;
}
span{
    font-weight: 800;
}

.paragraph{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer{
    text-align: center;
    background-color: rgb(15, 10, 53);
    padding: 10px;
}